@font-face {
    font-family: 'oscinebold';
    src: url('oscine_bd-webfont.woff2') format('woff2'),
        url('oscine_bd-webfont.woff') format('woff'),
        url('Oscine_Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscinebold_italic';
    src: url('oscine_bdit-webfont.woff2') format('woff2'),
        url('oscine_bdit-webfont.woff') format('woff'),
        url('Oscine_Bdit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscineitalic';
    src: url('oscine_it-webfont.woff2') format('woff2'),
        url('oscine_it-webfont.woff') format('woff'),
        url('Oscine_It.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscinelight';
    src: url('oscine_lt-webfont.woff2') format('woff2'),
        url('oscine_lt-webfont.woff') format('woff'),
        url('Oscine_Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
font-face {
    font-family: 'oscinelight_italic';
    src: url('oscine_ltit-webfont.woff2') format('woff2'),
        url('oscine_ltit-webfont.woff') format('woff'),
        url('Oscine_Ltit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscineregular';
    src: url('oscine_rg-webfont.woff2') format('woff2'),
        url('oscine_rg-webfont.woff') format('woff'),
        url('Oscine_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscinexbold';
    src: url('oscine_xbd-webfont.woff2') format('woff2'),
        url('oscine_xbd-webfont.woff') format('woff'),
        url('Oscine_XBd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oscinexbold_italic';
    src: url('oscine_xbdit-webfont.woff2') format('woff2'),
        url('oscine_xbdit-webfont.woff') format('woff'),
        url('Oscine_XBdit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}